*{
    margin:0;
    padding:0;
}

.header{
	background-color: #6900d1;
}

.navbar{
	padding-top: 20px !important;
}

.nav-item{
	margin-left: 40px; 
	margin-bottom: 10px;
}

.nav-link{
	color: #fff !important;
	font-size: 12px !important;
	padding: 0 0 5px 0 !important;
	display: unset !important;
}

.navbar-brand{
	color: #fff !important;
	margin-top: -10px;
}

.fa-bars{
	color: #fff;
	font-size: 40px !important;
}

.navbar-toggler{
	border:0 !important;
	outline: 0 !important;
}

.nav-link:hover{
	border-bottom:2px solid #fff;
}